@page "/blog"
@page "/blog/{number}"
@using Tazor.Sample.Models
@using Humanizer
@implements IParameterizedView

<h1>Blog</h1>

@foreach (var item in _items)
{
    <article class="mb-4">
        <a href="blog/@item.Slug" class="h2">@item.Title.Humanize(LetterCasing.Title)</a>
        <h4>@item.PublishedOn</h4>
        <p>@item.Content.Truncate(200, "...")</p>
    </article>
}

@code {
    private IEnumerable<BlogPost?> _items = new List<BlogPost?>();

    [Parameter]
    public int Number { get; set; }

    protected override void OnInitialized()
    {
        _items = BlogPosts.GetBlogPosts().Skip(Number * 10).Take(10);
    }

    public static IEnumerable<ParameterView> GetParameters()
    {
        return BlogPosts.GetBlogPosts().Chunk(10).Select((p, i) => ParameterView.FromDictionary(new Dictionary<string, object?>
        {
            { nameof(Number), i }
        }));
    }

}