@page "/blog/{number}"
@using Tazor.Sample.Models
@implements IParameterizedView<Page<BlogPost>>

<h1>Blog</h1>
@foreach (var item in Items)
{
    <h2>@item.Title</h2>
    <h3>@item.PublishedOn</h3>
}

@code {
    [Parameter]
    public int Number { get; set; }
    
    [Parameter]
    public int Size { get; set; }
    
    [Parameter]
    public int Total { get; set; }
    
    [Parameter]
    public IEnumerable<BlogPost> Items { get; set; } = null!;

    public static IEnumerable<Page<BlogPost>> GetData()
    {
        return new[]
        {
            new Page<BlogPost>
            {
                Number = 1,
                Size = 10,
                Total = 100,
                Items = new[]
                {
                    new BlogPost
                    {
                        Id = Guid.NewGuid(),
                        Title = "Hello, world.",
                        PublishedOn = DateTime.UtcNow
                    }
                }
            }
        };
    }
}