@page "/blog"
@page "/blog/{number}/{size}"
@using Tazor.Sample.Models
@implements IParameterizedView

<h1>Blog</h1>
@foreach (var item in _items)
{
    <h2>@item.Title</h2>
    <h3>@item.PublishedOn</h3>
}

@code {
    private readonly IEnumerable<BlogPost> _items = new List<BlogPost>();

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public int Size { get; set; }

    public static IEnumerable<ParameterView> GetParameters()
    {
        return new []
        {
            ParameterView.FromDictionary(new Dictionary<string, object?>
            {
                {nameof(Number), 1},
                {nameof(Size), 1}
            }),
            ParameterView.FromDictionary(new Dictionary<string, object?>
            {
                {nameof(Number), 2},
                {nameof(Size), 1}
            })
        };
    }
}